# Игнорировать абсолютно все файлы в этой папке
*

# Игнорировать все подпапки
/*/

# Сделать исключение для двух конкретных файлов (знак ! означает НЕ игнорировать)
!main.py
!inv_cls.py

# Также разрешить самому файлу .gitignore синхронизироваться
!.gitignore